<form id="form_id" action="index.html" method="post">
  <select>
    <% @companies.each do |company| %>
    <option value="<%= company.id %>"><%= company.ticker %></option>
    <% end %>
  </select>
</form>

<%= @current_user.id %>
<div id="price-area"></div>
